

.review {
	position: relative;
}
.review-main {
	opacity: 1;
	transition: opacity 0.4s;
	.app--submitting & {
		opacity: 0.3;
	}
}


.review-title {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 1.2;
}

.review-content {
	//display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: bottom;
}

.review-list {
	flex-grow: 1;
	margin-right: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	max-height: 400px;
	flex-wrap: wrap;
	flex-flow: column wrap;
	align-content: space-between;
	@media (max-width: $bp-medium) {
		display: block;
		max-height: none;
	}
}


.review-field {
	display: flex;
	min-width: 48%;
	width: 48%;
	max-width: 48%;
	@media (max-width: $bp-medium) {
		width: 100%;
		max-width: none;
	}

}

.review-field__label {
	padding: 5px;
	background: #FFF;
	flex: 0 0 50%;
	margin-bottom: 2px;
	font-size: 13px;
}

.review-field__value {
	flex: 0 0 50%;
	background: #DDD;
	padding: 5px;
	margin-bottom: 2px;
	font-size: 13px;
}


.review-options {
	//max-width: 300px;
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}


.review-loader {
	display: none;
	position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    align-items: center;
    jusitfy-content: center;
	.app--submitting & {
		display: flex;
	}
}

.review-success {
	display: none;
}


