* {
	box-sizing: border-box;
}

body {
	min-height: 100%;
	background: #e6e6e8;
	font-family: Roboto;
	color: #333;
	overflow-x:hidden;
}

.wrapper {
}


main {
	max-width: 900px;
	margin: 0px auto;
	padding-top: 80px;
	padding-bottom: 40px;

}

.form-wrapper {
	border: 1px solid rgba(#000, 0.1);
	background: #f7f7f7;
	padding: 40px;
	border-radius: 3px;

}